.App {
  text-align: center;
}

body {
  background-color: #1e143a;
  margin: 0;
}

.title {
  margin-bottom: 50px;
  flex: 0 0 100%;
}

.artifact-menu::-webkit-scrollbar {
  width: 10px;
}

.artifact-menu::-webkit-scrollbar-track {
  background: #3b3e86;
}

.artifact-menu::-webkit-scrollbar-thumb {
  background: rgb(167, 179, 255);
}

.artifact-menu::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 138, 255);
}
.artifact-user::-webkit-scrollbar {
  width: 10px;
}

.artifact-user::-webkit-scrollbar-track {
  background: #3b3e86;
}

.artifact-user::-webkit-scrollbar-thumb {
  background: rgb(167, 179, 255);
}

.artifact-user::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 138, 255);
}

.artifact-user {
  border: 0px solid;
  border-radius: 10px;
  background-color: #2b1766;
  width: 710px;
  height: 412px;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -47px;
  margin-bottom: 80px;
  gap: 25px;
}

.artifact-menu {
  border: 0px solid;
  border-radius: 10px;
  background-color: #2b1766;
  width: 710px;
  height: 412px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -50px;
  margin-bottom: 45px;
  overflow: auto;
  gap: 25px;
}

.artifact img:hover {
  box-shadow: inset 0 -8em 8em rgba(109, 109, 109, 0.1), 0 0 0 0px,
    0.8em 0.8em 1em rgba(0, 0, 0, 0.3);
  color: white;
}

.artifact:hover {
  color: white;
  transition: all 0.5s ease-in-out;
}

.artifact img {
  display: block;
  width: 106px;
  height: 106px;
  border: 0px solid;
  border-radius: 10px;
  background-color: #534981;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin-top: -27px;
}
.artifact {
  transform: translate(0px, -20px);
}

.search-bar {
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: -30px;
  width: 100%;
  padding: 10px 5px 10px 15px;
  color: rgb(204, 204, 204);
  border: 1px solid rgb(192, 182, 182);
  background: transparent;
  border-radius: 5px;
  font-size: 18px;
}

.menu-tag {
  position: absolute;
  transform: translate(0px, -50px);
  text-align: center;
}
.artifact-user h2 {
  font-size: 20px;
}
.artifact h3 {
  text-align: center;
  inline-size: 100px;
}
