.App {
  text-align: center;
}

body {
  background-color: #1e143a;
  margin: 0;
}

.build-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  color: rgb(173, 178, 211);
  border: 0px solid;
  border-radius: 10px;
  background-color: #231942;
  margin: 100px;
  padding: 20px;
  gap: 25px;
}

.title {
  margin-bottom: 50px;
  flex: 0 0 100%;
}
.artifact-user {
  border: 0px solid;
  border-radius: 10px;
  background-color: #2b1766;
  width: 710px;
  height: 185px;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 80px;
  gap: 25px;
}

.artifact-menu {
  border: 0px solid;
  border-radius: 10px;
  background-color: #2b1766;
  width: 710px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -50px;
  overflow: auto;

  gap: 25px;
}

.artifact img:hover {
  box-shadow: inset 0 -8em 8em rgba(109, 109, 109, 0.1), 0 0 0 0px,
    0.8em 0.8em 1em rgba(0, 0, 0, 0.3);
  color: white;
}

.artifact:hover {
  color: white;
  transition: all 0.5s ease-in-out;
}

.artifact img {
  display: block;
  width: 106px;
  height: 106px;
  border: 0px solid;
  border-radius: 10px;
  background-color: #534981;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.search-bar {
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 0;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: -30px;
  width: 100%;
  padding: 10px 5px 10px 15px;
  color: rgb(204, 204, 204);
  border: 1px solid rgb(192, 182, 182);
  background: transparent;
  border-radius: 5px;
  font-size: 18px;
}

.create-title {
  flex: 0 0 100%;
  text-align: center;
}
.menu-tag {
  position: absolute;
  transform: translate(0px, -50px);
  text-align: center;
}
.artifact-user h2 {
  font-size: 20px;
}
.artifact h3 {
  text-align: center;
  inline-size: 100px;
}

.break {
  flex-basis: 100%;
}
