.buildpage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  color: rgb(173, 178, 211);
  border: 0px solid;
  border-radius: 10px;
  background-color: #231942;
  margin: -74px 100px;
  box-shadow: inset 0 0 3em rgba(0, 0, 0, 0.1), 0 0 0 0px,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.comment-container {
  margin-right: auto;
}

.create-comment {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 140px;
  color: rgb(255, 255, 255);
  border: 0px solid;
  border-radius: 10px;
  margin-bottom: -30px;
}

.create-comment-username {
  margin-left: 20px;
  flex: 0 0 100%;
  font-size: 16px;
}

.create-comment-text {
  margin: -50px 0px 0px 20px;
  font-size: 20px;
  font-weight: 300;
  height: 40px;
  width: 400px;
  border-radius: 10px;
}

.buildpage-title {
  margin-top: -10px;
  margin-right: auto;
  color: white;
}
.buildpage-username {
  margin-right: auto;
  margin-top: -50px;
}
.buildpage-likes {
  margin-right: auto;
  transform: translateY(-80px);
  margin-bottom: -90px;
}

.buildpage-container h2 {
  margin-left: 20px;
  margin-bottom: -10px;
}

.weapon-container {
  border: 0px solid;
  border-radius: 10px;
  background-color: #2b1766;
  width: 710px;
  height: 150px;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0px 55px;
  margin: -10px 20px 20px 20px;
  padding: 20px 20px 20px 50px;
  font-size: 10px;
}

.artifact-container {
  border: 0px solid;
  border-radius: 10px;
  background-color: #2b1766;
  width: 710px;
  height: 150px;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0px 65px;
  margin: -10px 20px 20px 20px;
  padding: 20px 20px 20px 50px;
  font-size: 10px;
}

.weapon {
  margin: 60px 0px -40px 20px;
}
.weapon h3 {
  margin-top: 5px;
  text-align: center;
  inline-size: 100px;
}
.team-container {
  border: 0px solid;
  border-radius: 10px;
  background-color: #2b1766;
  width: 710px;
  height: 150px;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0px 65px;
  margin: -10px 20px 20px 20px;
  padding: 20px 20px 20px 50px;
  font-size: 10px;
}
.artifact {
  margin: 60px 0px -40px 20px;
}
.artifact h3 {
  margin-top: 5px;
  text-align: center;
  inline-size: 100px;
}

.team {
  margin: 16px 0px -10px 20px;
}
.team h3 {
  margin-top: 5px;
  text-align: center;
  inline-size: 100px;
}
.divider {
  width: 100%;
  border: solid;
  border-image-slice: 1;
  border-width: 1px;
  color: #2a1e6e;
}

.like-button {
  font-size: 24px;
}

.like-button:hover {
  color: white;
  cursor: pointer;
}

.buildpage-likes-text {
  font-size: 15px;
  margin-right: 10px;
  margin-top: -10px;
}

.comment-button {
  height: 40px;
  width: 100px;
  transform: translateY(10px);
}
