.build {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 700px;
  height: 130px;
  color: rgb(255, 255, 255);
  border: 0px solid;
  border-radius: 10px;
  background-color: #2a1d52;
  margin-bottom: -70px;
  padding: 4px;
}

.buildcard-info {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.build img {
  width: 86px;
  height: 86px;
  border: 0px solid;
  border-radius: 10px;
  background-color: #534981;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin: 20px 15px 20px 34px;
}

.build h2 {
  margin: 30px 20px -2px 12px;
  font-size: 22px;
}

.build h4 {
  margin: 0px 20px 4px 12px;
  font-weight: normal;
  font-size: 12px;
  color: rgb(218, 213, 247);
}

.buildcard-character-icon {
  margin-left: 30px;
}

.buildcard-username {
  font-size: 13px;
  margin-top: -25px;
}

.buildcard-likes {
  font-size: 13px;
  margin-top: -10px;
}

.buildcard-date {
  font-size: 6px;
  color: rgb(218, 213, 247);
  margin-left: auto;
  margin-top: -14px;
}

.build:hover {
  background-color: #2d1f55;
  transition: all 0.1s ease-in-out;
}

.break {
  flex-basis: 100%;
}

.delete-button {
  font-size: 20px;
  transform: translateY(-70px);
}

.delete-button:hover {
  color: rgb(218, 213, 247);
}

@media only screen and (max-width: 1010px) {
  .build .buildcard-artifacts-icon {
    width: 0px;
    height: 0px;
  }
  .build {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 400px;
    height: 150px;
    color: rgb(255, 255, 255);
    border: 0px solid;
    border-radius: 10px;
    background-color: #2a1d52;
  }
  .build h2 {
    margin: 30px 20px -2px 12px;
    font-size: 22px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 650px) {
  .build .buildcard-artifacts-icon {
    width: 0px;
    height: 0px;
  }
  .build .buildcard-weapon-icon {
    width: 0px;
    height: 0px;
  }
  .build {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 260px;
    height: 150px;
    color: rgb(255, 255, 255);
    border: 0px solid;
    border-radius: 10px;
    background-color: #2a1d52;
  }
  .buildcard-info {
    margin-top: -25px;
  }
}
