.talent-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  color: rgb(173, 178, 211);
  margin: -74px 100px;
}
.constellation-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  color: rgb(173, 178, 211);
  margin: -200px 100px;
}
.char-desc-c {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  color: rgb(173, 178, 211);
  border: 0px solid;
  border-radius: 4px;
  background-color: #2a1d52;
  margin: 0px 120px 120px 120px;
  padding: 10px 20px 10px 20px;
}

.container2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: rgb(173, 178, 211);
  border: 0px solid;
  border-radius: 10px;
  background-color: #231942;
  gap: 25px;
  margin: -74px 100px;
  box-shadow: inset 0 0 3em rgba(0, 0, 0, 0.1), 0 0 0 0px,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.container2 h3 {
  padding: 0px 20px;
  font-weight: normal;
  font-style: italic;
}

.container2 h1 {
  font-size: 30px;
  color: white;
  padding: 0px 20px;
  font-weight: bold;
  margin-top: -90px;
  margin-left: 100px;
  margin-bottom: 4px;
}

.container2 .char-desc-head {
  margin-bottom: -10px;
}

.container2 .recent-builds {
  margin-top: 30px;
}
a {
  display: inline-block;
}
.button-18 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-left: 120px;
  border-radius: 10px;
  white-space: nowrap;
  width: 180px;
  background-color: #2067ec;
  border: none;
  color: white;
  padding: 12px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 300px;
  transition-duration: 0.2s;
}

.button-18:hover {
  background-color: rgb(27, 113, 226);
}

.break {
  flex-basis: 100%;
}

@media only screen and (max-width: 480px) {
  .character-header {
    background-image: none !important;
    justify-content: center;
  }
}

@media only screen and (max-width: 990px) {
  .talent-container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    color: rgb(173, 178, 211);
  }
  .constellation-container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    color: rgb(173, 178, 211);
  }
  .container2 h1 {
    margin-left: auto;
    margin-right: auto;
  }
  .button-18 {
    margin-left: auto;
    margin-right: auto;
  }
  .char-desc-c {
    margin: 0px 80px 120px 80px;
  }
  .container2 .recent-builds {
    margin-top: 200px;
  }

  .container2 .passive-talents-head {
    margin-top: 100px;
  }

  .constellation-break {
    margin: 112px 0px;
  }
}
