.comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  border: 0px solid;
  border-radius: 10px;
  margin-bottom: -25px;
}
.comment-username {
  font-size: 16px;
}

.comment-text {
  margin: -30px 0px 0px 20px;
  font-weight: 300;
  font-size: 14px;
}
