.artifact-stats::-webkit-scrollbar {
  width: 10px;
}

.artifact-stats::-webkit-scrollbar-track {
  background: #3b3e86;
}

.artifact-stats::-webkit-scrollbar-thumb {
  background: rgb(167, 179, 255);
}

.artifact-stats::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 138, 255);
}

.artifact-stats::-webkit-scrollbar {
  width: 10px;
}

.artifact-stats::-webkit-scrollbar-track {
  background: #3b3e86;
}

.artifact-stats::-webkit-scrollbar-thumb {
  background: rgb(167, 179, 255);
}

.artifact-stats::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 138, 255);
}

.build-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  color: rgb(173, 178, 211);
  border: 0px solid;
  border-radius: 10px;
  background-color: #231942;
  margin: 100px;
  padding: 20px;
  gap: 25px;
  margin-top: -80px;
}

.artifact-stats {
  border: 0px solid;
  border-radius: 10px;
  background-color: #2a1d52;
  width: 1440px;
  height: 412px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -50px;
  overflow: auto;
  gap: 0px 150px;
}

.artifact-stats-header {
  margin-top: -40px;
}
.artifact-stats img {
  margin-top: 150px;
  margin-left: 40px;
}
.artifact-stats h1 {
  margin-top: 150px;
  margin-left: 40px;
}

.sands-stats-select {
  height: 32px;
  width: 160px;
}
.goblet-stats-select {
  height: 32px;
  width: 160px;
}
.circlet-stats-select {
  height: 32px;
  width: 160px;
}
.substats-select {
  height: 32px;
  width: 160px;
}

.title h2 {
  display: inline;
  margin-right: 10px;
}

.title,
.weapon,
.artifacts,
.team {
  padding: 10px;
}

.title input .search-bar {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.create-title {
  color: rgb(207, 210, 230);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.build-title {
  width: 39%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.break {
  flex-basis: 100%;
  margin: 20px;
}
.divider {
  width: 100%;
  border: solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to right, #231942, #2a1e6e, #231942);
}

button {
  transform: translate(0px, -85px);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-left: 20px;
  border-radius: 10px;
  white-space: nowrap;
  width: 145px;
  height: 50px;
  background-color: #2067ec;
  border: none;
  color: white;
  padding: 12px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 300px;
  transition-duration: 0.2s;
}

.creating-on {
  transform: translate(0px, -120px);
}
a {
  display: inline-block;
}

button:hover {
  background-color: rgb(28, 67, 173);
}

.create-build-page p {
  font-size: 11px;
}

.description {
  margin-top: -100px;
  width: 710px;
}

.description textarea {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  min-height: 200px;
  resize: vertical;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

@media only screen and (max-width: 1700px) {
  .description {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 972px) {
  .description textarea {
    width: 100%;
  }
}
