.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  color: rgb(173, 178, 211);
  border: 0px solid;
  border-radius: 10px;
  background-color: #231942;
  margin: -100px 100px;
  padding: 40px;

  gap: 25px;
}

.liked-builds-container {
  border: 0px solid;
  border-radius: 10px;
  width: 650px;
  margin: 0px 40px 0px -40px;
  padding: 20px 20px 20px 40px;

  font-size: 10px;
}
.created-builds-container {
  border: 0px solid;
  border-radius: 10px;
  width: 650px;
  margin: 0px 40px 0px -40px;
  padding: 20px 20px 20px 40px;
  font-size: 10px;
}
.break-inner {
  flex-basis: 100%;
  height: 0px;
}

.profile-container h1 {
  margin-bottom: -40px;
}

.profile-build-card {
  color: black;
}

.profile-break {
  height: 50px;
}
