header {
    height: 65px;
    background-color: #13092c;
    /* margin-top: -9px; */
    /* margin-left: -10px; */
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 2%;
    justify-content: flex-start;

}

.items {
    text-align: left;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-right: 50px;
    width: 300px;
}

a{
    text-decoration: none;
    color: white;
}

.signup {
    background-color: purple;
    padding: 10px 15px;
    border-radius: 500px;
    text-align: center;   
}