header {
    height: 65px;
    background-color: #13092c;
    /* margin-top: -9px; */
    /* margin-left: -10px; */
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 2%;
    justify-content: flex-start;

}

.items {
    text-align: left;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-right: 100px;
    width: 300px;
}